
body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: #ffd8be;
    height: 100vh;
    background-image: url("./img/1082829.png");
    background-size: auto 100%;
    background-position:right;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap
}
.contador{
    background-color: black;
    text-align: center;
    border: 1px solid #000;
    padding: 5px;
    box-sizing: content-box;
    font-size: 12px;
    border-radius: 25px;
    color: red;
}
.contador::before{
    content: "Jogadas:"
}
button {
    width: 25px;
    height: 10px;
    box-sizing: content-box;
    font-size: 8px;
    background-color: black;
    color: red;
    border-radius: 25px;
}

h2{
    color: rgb(233, 17, 17)    ;
    text-align: center;
    margin-top: 1em;
    font-weight: 900;
    font-size: 20px;
}
section{
    background-color: #ffffb5;
    height: 80vh;
    max-width: 360px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: none;
}
.pino{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 10px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left,transparent 47%, black 47%, black 53%, transparent 53%);
    border: 1px dotted #666;
    border-radius: 15px;
}
.pino>img{
    width: 100%;
}
#disco1 {
    margin: 0 auto;
    border-radius: 15px;
    width: 90%;
    background: blue;
    height: 15%;
    background-image: url(./img/de7c14b166ce8cb065604b7957b4d01a.gif);
    background-position: center;
}
#disco2 {
    margin: 0 auto;
    border-radius: 15px;
    width: 80%;
    background: red;
    height: 15%;
    background-image: url(./img/5c887b98b2e06f51d91a5b639fd7219b.gif);
    background-position: center;
}
#disco3 {
    margin: 0 auto;
    border-radius: 15px;
    width: 71%;
    background: cyan;
    height: 15%;
    background-image: url(./img/lucifer-helltaker.gif);
    background-position: center;
}
#disco4 {
    margin: 0 auto;
    border-radius: 15px;
    width: 64%;
    background:greenyellow;
    height: 15%;
    background-image: url(./img/helltaker-vanripper.gif);
    background-position: center;
}
#disco5 {
    margin: 0 auto;
    border-radius: 15px;
    width: 57%;
    background: green;
    height: 15%;
    background-image: url(./img/helltaker-vanripper\ \(1\).gif);
    background-position: right;
}
#disco1, #disco2, #disco3, #disco4, #disco5 {
    background-size: 9% 100%;
    border: solid 2px rgb(36, 1, 1);
}



@media (min-width: 880px) {
    body {
        background-size: cover;
        background-position: bottom;
    }
    section{
        flex-direction: row;
        max-width: 900px;
    }
    #disco1, #disco2, #disco3, #disco4, #disco5 {
        background-size: 75px 85px;
        border: solid 2px rgb(36, 1, 1);
    }
}